@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/unsemantic/1.2.3/unsemantic-grid-responsive.min.css");

@import "./stylesheets/chem-elements.css";
@import "./stylesheets/footer.css";
@import "./stylesheets/header.css";
@import "./stylesheets/identities.css";
@import "./stylesheets/intro.css";
@import "./stylesheets/labels.css";

@font-face {
  font-family: "chn";
  src: url("/font/LXGWWenKaiMono-Bold.ttf");
}

body {
  background: url(/assets/images/plus.svg) #044f67;
  background-size: 8em;

  font-size: 1em;
  margin: 0;
  min-height: 100vh;
  padding: 5vh 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, "chn", chn, "STHeiti Light",
    "chn", Heiti, chn, sans-serif;
  margin: 0;
  padding: 0;
}

#container {
  background: url(/assets/images/container-background.svg) grey;
  background-size: cover;
  box-shadow: 0 0 0.15em 0.15em rgba(0, 0, 0, 0.125);
  padding-top: 1em;
  margin: 0 auto;
  max-width: 64em;
}

.section.intro {
  background: rgba(255, 251, 251, 0.95);
}

.no-wrap {
  display: inline-block;
}

#container,
#container > *:first-child {
  border-top-left-radius: 2em;
}

#container,
#container > *:last-child,
#container > *:last-child > *:last-child {
  border-bottom-right-radius: 2em;
}

.header .small-labels .group::before,
.header .small-labels .label::before {
  color: #333;
}

.identities .small-labels .group::before,
.identities .small-labels .label::before {
  color: #333;
}

@media (max-width: 768px) {
  body {
    padding: 0;
  }

  #container {
    padding: 0;
  }

  #container,
  #container > *:first-child {
    border-top-left-radius: 0;
  }

  #container,
  #container > *:last-child,
  #container > *:last-child > *:last-child {
    border-bottom-right-radius: 0;
  }

  .section.header {
    background: rgba(0, 0, 0, 0.75);
  }

  .intro .block .split {
    padding: 0 0.5em;
  }

  .intro p {
    border-left: none;
    padding: 0.2em;
  }
}

/* make the color of the list the same to the theme */
.intro .block .split li {
  color: #555;
  font-size: 1.1em;
  font-weight: 300;
  margin: 0.5em 0;
  padding: 0.5em 0.5em;
  list-style-type: circle;
}

.href {
  color: #fff;
  text-decoration: none;
}
